/*  =========
	 GENERAL
  	========= */

body {
	font-family: "Roboto";
	color: #222;
}

.italique {
	font-style: italic;
}

.justif {
	text-align: justify !important; 
}

.txt-gauche {
	text-align: left;
}

.txt-droite {
	text-align: right;
}

.center-image-vert {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bouton {
	text-transform: uppercase;
	background-color: #034494;
	border-color: #034494;
}

.hidden {
	display: none;
}

.btn-rouge {
	background-color: #f00 !important;
	border-color: #f00 !important;
}

.btn-vert {
	background-color: #0d0 !important;
	border-color: #0d0 !important;
}

.void {
	color: inherit;
	text-decoration: inherit;
}

.void:hover {
	color: inherit;
	text-decoration: inherit;
}

/*  ======
	 MENU
  	====== */

.menu {
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: "Roboto Mono";
}

.menu-item {
	padding-left: 8px;
}

.menu-lien {
	color: #034494;
	text-decoration: none;
}

.menu-lien:hover {
	color: #022754;
}

@media (max-width: 770px) {
	.menu {
		display: none;
	}
}

#menu-inside {
	border-bottom: 1px solid #ddd;
}

/*  ========
	 FOOTER
  	======== */

#footer {
	background-color: #000;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #ddd;
	text-align: center;
	margin-top: 50px;
	font-family: "Roboto Mono";
}

/*  ========
	 IMAGES
  	======== */

#profil-pic {
	border-radius: 10%;
}

.img-thumbnail-mod-height {
	padding: .25rem;
	background-color: #fff;
	/* border: 1px solid #dee2e6; */
	border-radius: .25rem;
	max-width: 80%;
}

.img-thumbnail-no-bg-mod-height {
	padding: .25rem;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 80%;
}

.icone {
	color: #034494;
	padding-right: 30px;
}

.icone:hover {
	color: #022754;
}

.miniature {
	max-height: 200px;
	width: 100%;
}

/*  ==========
	 BORDURES
  	========== */

@media (min-width: 574px) {
	.bordure-top {
		border-top: #bbbbbb 1px solid;
		padding-top: 10px;
	}

	.bordure-bot {
		border-bottom: #bbbbbb 1px solid;
		padding-bottom: 10px;
	}

	.bordure-left {
		border-left: #bbbbbb 1px solid;
		padding-left: 30px;
		padding-top: 10px;
	}

	.bordure-right {
		border-right: #bbbbbb 1px solid;
		padding-right: 30px;
		padding-top: 10px;
	}

	.bordure-right-no-padding {
		border-right: #bbbbbb 1px solid;
	}

	.hr {
		display: none;
	}
}

@media (max-width: 574px) {
	.bordure-telephone {
		border-bottom: #bbbbbb 1px solid;
		margin-bottom: 25px;
	}

}

/*  ========
	 TITRES
  	======== */

.titre-principal {
	font-family: "Lora", serif;
}

.titre {
	margin-bottom: 45px;
	margin-top: 25px;
}

.titre > a {
	color: #222;
	text-decoration: none;
}

.sous-titre {
	margin-bottom: 25px;
}

/*  ========
	 MARGES
  	======== */

.margetop15 {
	margin-top: 15px;
}
.margetop25 {
	margin-top: 25px;
}

.margetop45 {
	margin-top: 45px;
}

.margebot0 {
	margin-bottom: 0px;
}

.margebot15 {
	margin-bottom: 15px;
}

.margebot25 {
	margin-bottom: 25px;
}

.margebot45 {
	margin-bottom: 45px;
}

@media (min-width: 576px) {
	.margebot45-big {
		margin-bottom: 45px;
	}
}

.logo {
	margin-bottom: 15px;
}

/*  ==========
	 COULEURS
  	========== */

.bleu {
	color: #034494;
	font-weight: bold;
}

.bleu-big {
	color: #034494;
	font-weight: bold;
	font-size: 1.2rem;
}

.gris {
	color: #555;
}

/*  =================
	 GRANDES PARTIES
  	================= */

.first-section {
	background-color: #81de7f /*#aaa;*/
}

.even-section {
	background-color: #fff;
}

.odd-section {
	background-color: #9cde9b; /*#d5d5d5*/
}

/*  =========
	 MARDOWN
  	========= */

.md-bold {
	font-weight: bold;
}

.md-italics {
	font-style: italic;
}

.md-highlight {
	color: #034494;
	font-weight: bold;
}


/*  ==============
	 ESPACE ADMIN
  	============== */

.admin-menu-item {
	color: #034494;
	text-decoration: none;
}

.admin-menu-item:hover {
	color: #022754;
}

.admin-menu-item-text {
	margin-top: 10px;
	text-transform: uppercase;
	background-color: #dfdfdf;
	padding-left: 10px;
	padding-right: 10px;
}

.admin-element {
	border: 1px solid #034494;
	padding: 20px;
	margin-top: 25px;
}

.admin-title {
	border-bottom: 1px solid black;
}

.admin-categorie {
	color: #034494;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
}

.resultat-positif {
	color: #0f0;
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
}

.resultat-negatif {
	color: #f00;
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
}

select {
	appearance: auto !important;
}