/*  =========
	 GENERAL
  	========= */

body {
	font-family: "Roboto";
}

.italique {
	font-style: italic;
}

.justif {
	text-align: justify !important; 
}

.txt-gauche {
	text-align: left;
}

.center-image-vert {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.img-thumbnail-mod-height {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
}

.img-thumbnail-no-bg-mod-height {
	padding: .25rem;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
}

.icone {
	color: #034494;
	padding-right: 30px;
}

.icone:hover {
	color: #022754;
	padding-right: 30px;
}

/*  ==========
	 BORDURES
  	========== */

@media (min-width: 574px) {
	.bordure-top {
		border-top: #bbbbbb 1px solid;
		padding-top: 10px;
	}

	.bordure-bot {
		border-bottom: #bbbbbb 1px solid;
		padding-bottom: 10px;
	}

	.bordure-left {
		border-left: #bbbbbb 1px solid;
		padding-left: 30px;
		padding-top: 10px;
	}

	.bordure-right {
		border-right: #bbbbbb 1px solid;
		padding-right: 30px;
		padding-top: 10px;
	}

	.hr {
		display: none;
	}
}

@media (max-width: 574px) {
	.bordure-telephone {
		border-bottom: #bbbbbb 1px solid;
		margin-bottom: 25px;
	}

}

/*  ========
	 TITRES
  	======== */

.titre-principal {
	font-family: "Lora", serif;
}

.titre {
	margin-bottom: 45px;
	margin-top: 25px;
}

.sous-titre {
	margin-bottom: 25px;
}

/*  ========
	 MARGES
  	======== */

.margetop25 {
	margin-top: 25px;
}

.margetop45 {
	margin-top: 45px;
}

.margebot45 {
	margin-bottom: 45px;
}

.margebot25 {
	margin-bottom: 25px;
}

.logo {
	margin-bottom: 15px;
}

/*  ==========
	 COULEURS
  	========== */

.bleu {
	color: #034494;
	font-weight: bold;
}

.bleu-big {
	color: #034494;
	font-weight: bold;
	font-size: 1.2rem;
}

.gris {
	color: #555;
}

/*  =================
	 GRANDES PARTIES
  	================= */

#presentation-first {
	background-color: #d5d5d5;
	color: #222;
}

#presentation {
	background-color: #fff;
	color: #222;
}

#education {
	background-color: #d5d5d5; /*TODO : change*/
	color: #222;
}

#experiences-pro {
	background-color: #fff; /*TODO : change*/
	color: #222;
}

#experiences-perso {
	background-color: #d5d5d5; /*TODO : change*/
	color: #222;
}

#skills {
	background-color: #fff; /*TODO : change*/
	color: #222;
}

#projects {
	background-color: #d5d5d5; /*TODO : change*/
	color: #222;
}

#contests {
	background-color: #fff; /*TODO : change*/
	color: #222;
}