/*  =========
	 GENERAL
  	========= */

.italique {
	font-style: italic;
}

.justif {
	text-align: justify;
}

.center-image-vert {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.img-thumbnail-mod-height {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
}

/*  ========
	 MARGES
  	======== */

.margetop25 {
	margin-top: 25px;
}

.margetop45 {
	margin-top: 45px;
}

.margebot45 {
	margin-bottom: 45px;
}

/*  ==========
	 COULEURS
  	========== */

.bleu {
	color: #3577f2;
}

.gris {
	color: #aaaaaa;
}

/*  =================
	 GRANDES PARTIES
  	================= */

#presentation {
	background-color: #000000;
	color: #eeeeee;
}

#education {
	background-color: #000000;
	color: #eeeeee;
}

#experiences {

}

#skills {

}

#projects {

}

#contests {

}